{% extends 'base.html.twig' %}

{% block title %}Англо-русский словарь{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb border-0 m-0 px-0 px-md-3">
        <li class="breadcrumb-item active">Англо-русский словарь</li>
    </ol>
{% endblock %}
{% block body %}
    <div class="os">
        <div class="  text-center mt-5 pb-5">
            <h1 class="oswald">Нужен перевод?</h1>
            <h3>Мы поможем тебе его найти.</h3>
        </div>
        <div class="pt-5 ">
            <form class="mt-5 row g-3  justify-content-center" action="{{ path('word.search') }}" method="GET">
                <div class="col-md-6 "><label for="inputPassword2" class="visually-hidden ">Password</label>
                    <input
                            name="s"
                            class="form-control p-3 oswald" id="inputPassword2"
                            placeholder="Введите слово на английском языке:"></div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-primary mb-3 p-3 oswald">Перевести</button>
                </div>
            </form>
        </div>
    </div>
    <div class=" mb-5 ">
        <h2 class="mt-5 mb-5 oswald text-center">Словарь:</h2>
        <div class="d-flex oswald text-white  m-0">
            <div class="nav flex-column nav-pills me-5" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill"
                        data-bs-target="#letter_a" type="button" role="tab" aria-controls="v-pills-home"
                        aria-selected="true">A
                </button>
                <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill"
                        data-bs-target="#letter_b" type="button" role="tab" aria-controls="v-pills-profile"
                        aria-selected="false">B
                </button>
                <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill"
                        data-bs-target="#letter_c" type="button" role="tab" aria-controls="v-pills-profile"
                        aria-selected="false">C
                </button>
                <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill"
                        data-bs-target="#letter_d" type="button" role="tab" aria-controls="v-pills-messages"
                        aria-selected="false">D
                </button>
                <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                        data-bs-target="#letter_e" type="button" role="tab" aria-controls="v-pills-settings"
                        aria-selected="false">E
                </button>
                <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                        data-bs-target="#letter_f" type="button" role="tab" aria-controls="v-pills-settings"
                        aria-selected="false">F
                </button>
                <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                        data-bs-target="#letter_g" type="button" role="tab" aria-controls="v-pills-settings"
                        aria-selected="false">G
                </button>
                <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                        data-bs-target="#letter_h" type="button" role="tab" aria-controls="v-pills-settings"
                        aria-selected="false">H
                </button>
                <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                        data-bs-target="#letter_i" type="button" role="tab" aria-controls="v-pills-settings"
                        aria-selected="false">I
                </button>
                <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                        data-bs-target="#letter_j" type="button" role="tab" aria-controls="v-pills-settings"
                        aria-selected="false">J
                </button>
                <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                        data-bs-target="#letter_k" type="button" role="tab" aria-controls="v-pills-settings"
                        aria-selected="false">K
                </button>
                <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                        data-bs-target="#letter_l" type="button" role="tab" aria-controls="v-pills-settings"
                        aria-selected="false">L
                </button>
                <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                        data-bs-target="#letter_m" type="button" role="tab" aria-controls="v-pills-settings"
                        aria-selected="false">M
                </button>
                <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                        data-bs-target="#letter_n" type="button" role="tab" aria-controls="v-pills-settings"
                        aria-selected="false">N
                </button>
                <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                        data-bs-target="#letter_o" type="button" role="tab" aria-controls="v-pills-settings"
                        aria-selected="false">O
                </button>
                <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                        data-bs-target="#letter_p" type="button" role="tab" aria-controls="v-pills-settings"
                        aria-selected="false">P
                </button>
                <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                        data-bs-target="#letter_q" type="button" role="tab" aria-controls="v-pills-settings"
                        aria-selected="false">Q
                </button>
                <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                        data-bs-target="#letter_r" type="button" role="tab" aria-controls="v-pills-settings"
                        aria-selected="false">R
                </button>
                <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                        data-bs-target="#letter_s" type="button" role="tab" aria-controls="v-pills-settings"
                        aria-selected="false">S
                </button>
                <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                        data-bs-target="#letter_t" type="button" role="tab" aria-controls="v-pills-settings"
                        aria-selected="false">T
                </button>
                <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                        data-bs-target="#letter_u" type="button" role="tab" aria-controls="v-pills-settings"
                        aria-selected="false">U
                </button>
                <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                        data-bs-target="#letter_v" type="button" role="tab" aria-controls="v-pills-settings"
                        aria-selected="false">V
                </button>
                <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                        data-bs-target="#letter_w" type="button" role="tab" aria-controls="v-pills-settings"
                        aria-selected="false">W
                </button>
                <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                        data-bs-target="#letter_x" type="button" role="tab" aria-controls="v-pills-settings"
                        aria-selected="false">X
                </button>
                <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                        data-bs-target="#letter_y" type="button" role="tab" aria-controls="v-pills-settings"
                        aria-selected="false">Y
                </button>
                <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                        data-bs-target="#letter_z" type="button" role="tab" aria-controls="v-pills-settings"
                        aria-selected="false">Z
                </button>
            </div>
            <div class="tab-content  mb-5" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="letter_a" role="tabpanel"
                     aria-labelledby="v-pills-home-tab" tabindex="0">.кгкг
                </div>
                <div class="tab-pane fade" id="letter_b" role="tabpanel" aria-labelledby="v-pills-profile-tab"
                     tabindex="0">уврпукети
                </div>
                <div class="tab-pane fade" id="letter_c" role="tabpanel" aria-labelledby="v-pills-disabled-tab"
                     tabindex="0">гнбгнб
                </div>

                <div class="tab-pane fade" id="letter_d" role="tabpanel" aria-labelledby="v-pills-messages-tab"
                     tabindex="0">..цуецуе
                </div>
                <div class="tab-pane fade" id="letter_e" role="tabpanel" aria-labelledby="v-pills-settings-tab"
                     tabindex="0">...цукцук
                </div>
                <div class="tab-pane fade" id="letter_f" role="tabpanel" aria-labelledby="v-pills-settings"
                     tabindex="0">...цукцук
                </div>
                <div class="tab-pane fade" id="letter_g" role="tabpanel" aria-labelledby="v-pills-settings-tab"
                     tabindex="0">...цукцук
                </div>
                <div class="tab-pane fade" id="letter_h" role="tabpanel" aria-labelledby="v-pills-settings-tab"
                     tabindex="0">...цукцук
                </div>
                <div class="tab-pane fade" id="letter_i" role="tabpanel" aria-labelledby="v-pills-settings-tab"
                     tabindex="0">...цукцук
                </div>
                <div class="tab-pane fade" id="letter_j" role="tabpanel" aria-labelledby="v-pills-settings-tab"
                     tabindex="0">...цукцук
                </div>
                <div class="tab-pane fade" id="letter_k" role="tabpanel" aria-labelledby="v-pills-settings-tab"
                     tabindex="0">...цукцук
                </div>
                <div class="tab-pane fade" id="letter_l" role="tabpanel" aria-labelledby="v-pills-settings-tab"
                     tabindex="0">...цукцук
                </div>
                <div class="tab-pane fade" id="letter_m" role="tabpanel" aria-labelledby="v-pills-settings-tab"
                     tabindex="0">...цукцук
                </div>
                <div class="tab-pane fade" id="letter_n" role="tabpanel" aria-labelledby="v-pills-settings-tab"
                     tabindex="0">...цукцук
                </div>
                <div class="tab-pane fade" id="letter_o" role="tabpanel" aria-labelledby="v-pills-settings-tab"
                     tabindex="0">...цукцук
                </div>
                <div class="tab-pane fade" id="letter_p" role="tabpanel" aria-labelledby="v-pills-settings-tab"
                     tabindex="0">...цукцук
                </div>
                <div class="tab-pane fade" id="letter_q" role="tabpanel" aria-labelledby="v-pills-settings-tab"
                     tabindex="0">...цукцук
                </div>
                <div class="tab-pane fade" id="letter_r" role="tabpanel" aria-labelledby="v-pills-settings-tab"
                     tabindex="0">...цукцук
                </div>
                <div class="tab-pane fade" id="letter_s" role="tabpanel" aria-labelledby="v-pills-settings-tab"
                     tabindex="0">...цукцук
                </div>
                <div class="tab-pane fade" id="letter_t" role="tabpanel" aria-labelledby="v-pills-settings-tab"
                     tabindex="0">...цукцук
                </div>
                <div class="tab-pane fade" id="letter_u" role="tabpanel" aria-labelledby="v-pills-settings-tab"
                     tabindex="0">...цукцук
                </div>
                <div class="tab-pane fade" id="letter_v" role="tabpanel" aria-labelledby="v-pills-settings-tab"
                     tabindex="0">...цукцук
                </div>
                <div class="tab-pane fade" id="letter_w" role="tabpanel" aria-labelledby="v-pills-settings-tab"
                     tabindex="0">...цукцук
                </div>
                <div class="tab-pane fade" id="letter_x" role="tabpanel" aria-labelledby="v-pills-settings-tab"
                     tabindex="0">...цукцук
                </div>
                <div class="tab-pane fade" id="letter_y" role="tabpanel" aria-labelledby="v-pills-settings-tab"
                     tabindex="0">...цукцук
                </div>
                <div class="tab-pane fade" id="letter_z" role="tabpanel" aria-labelledby="v-pills-settings-tab"
                     tabindex="0">ЫФЫФЕ
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('test') }}
{% endblock %}