{% extends 'base.html.twig' %}

{% block title %}Англо-русский словарь{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb border-0 m-0 px-0 px-md-3">
        <li class="breadcrumb-item active">Англо-русский словарь</li>
    </ol>
{% endblock %}
{% block body %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('test') }}
{% endblock %}